.top-box{
    border-color: black;
    border-style: solid;
    height: 200px;
}

.purple-box{
    background-color: purple;
    height: 150px;
    width: 50px;
    margin-top: 40px;
    margin-left: 10px;
    float: left;
}

.green-box{
    background-color: green;
    height: 175px;
    width: 500px;
    margin-left: 50px;
    margin-top: 10px;
    float: left;
}

.blue-circle{
    background-color: lightskyblue;
    height: 175px;
    width: 175px;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 100px;
}


.middle-box{
    border-color: black;
    border-style: dotted;
    height: 225px;
    margin-top: 25px;
}

.yellow-box{
    background-color: blanchedalmond;
    width: 1750px;
    height: 150px;
    box-shadow: 5px 5px 5px;
    margin: 40px auto;
}


.bottom-box{
    width:600px;
    height: 300px;
    box-shadow: 2px 2px 5px gray;
    margin: 25px auto;
    padding: 50px;
    box-sizing: border-box;
    color: navy;
    font-size: 40px;
    text-align: center;
    letter-spacing: 10px;
}

